:root {
  --background-color: white;
  --text-color: black;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

.navigation {
  display: none;
  padding: 16px;
}
.navigation__link {
  display: block;
  text-decoration: none;
  color: hotpink;
  font-size: 24px;
}
.navigation__link:hover {
  border-bottom: 1px solid hotpink;
}
@media screen and (min-width: 768px) {
  .navigation {
    padding: 32px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}

.navigation--open {
  display: block;
}

.hamburger {
  background-color: hotpink;
  position: absolute;
  top: 20px;
  right: 12px;
  border: none;
}

.klasa-z-js {
  color: blue;
}
